@import url('https://fonts.googleapis.com/css?family=Poppins:%20300,%20400,%20500,%20600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-seirf;
}

.wrapper{
  width: 100%;
}

body{
  /*min-height: 100%;*/
  height: 100%;
  width: 100%;
  background: linear-gradient(#36DE4E, #30C4FF);
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
/* header .logo{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
} */
header ul{
  display: flex;
  justify-content: center;
  align-items: center;

}
header ul li{
  list-style: none;
  margin-left: 20px;

}
header ul li a{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active 
{
  background: #fff;
  color: #36DE4E;
}
section{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#text{
  position: absolute;
  color: #ffffff;
  font-family: 'Poppins', sans-seirf;
  white-space: nowrap;
  font-size: 3vw;
  z-index: 9;
  transform: translateY(-80px);
}
#text2{
  position: absolute;
  display: inline-block;
  color: #e0e0e0;
  font-family: 'Poppins', sans-seirf;
  white-space: nowrap;
  font-size: 2vw;
  z-index: 9;
  transform: translateY(-35px);
}
#btn{
  position: absolute;
  display: inline-block;
  width: 160px;
  height: 40px;
  z-index: 9;
  transform: translateY(50px);
}
#btn.btn-outline-success {
  --bs-btn-color: #FE6F25;
  --bs-btn-border-color: #FE6F25;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FE6F25;
  --bs-btn-hover-border-color: #FE6F25;
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FE6F25;
  --bs-btn-active-border-color: #FE6F25;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #FE6F25;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #FE6F25;
  --bs-gradient: none;
}
footer {
  width: 100%;
  background-color: #2B3035;
  color: #6b6b6b;
  padding: 20px;
  text-align: center;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #666;
  font-size: 20px;
}

.social-icons a:hover {
  color: #000;
}

.facebook {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  align-items: center;
}

.github {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  align-items: center;
}

.instagram {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  align-items: center;
}
